@page "/"

<PageTitle>Index</PageTitle>

<MudAppBar Fixed="false" Style="@($"color: black; background:white;")" Elevation="0" class="bar">
    <MudGrid Spacing="7">
        <MudItem><a href="#">Work</a></MudItem>
        <MudItem><a href="#">Profile</a></MudItem>
        <MudItem><a href="#">Shop</a></MudItem>
    </MudGrid>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"/>
</MudAppBar>

<MudCarousel Class="mud-width-full" Style="height:93vh;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex, box" style="height:100%;">
            <img src="img/Nissan1.jpg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex, box" style="height:100%;">
            <img src="img/Nissan2.jpg"/> 
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex, box" style="height:100%;">
            <img src="img/Nissan3.jpg" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<div class="text">
    <h1>car <br />experience</h1>

    <p>
        Pawel Nolbert is a color artist,
        specialized in creating visually rich imagery.
    </p>

    <p>
        Design, Art, Brands
    </p>
</div>

<div>

</div>

@code {
    private bool arrows = false;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}